<!--Main layout-->
<main class="mt-5 pt-4">

  <div class="container dark-grey-text mt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="product-image">
          <div class="view hm-zoom z-depth-2" style="cursor: pointer">
            <div class="d-flex product-image pt-2">
              <img [src]="'/assets/product_images/' + product.PrimaryImage" *ngIf="product.PrimaryImage"
                class="img-fluid " [alt]="product.Name">
            </div>
            <div class="d-flex product-image pt-2 pb-2">
              <img [src]="'/assets/product_images/' + product.SecondaryImage" *ngIf="product.SecondaryImage"
                class="img-fluid " [alt]="product.Name">
            </div>
          </div>
          <div class="" style="margin-top:15px">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Product Price</h6>
                </div>
                <span class="text-muted" style="color:crimson !important">${{product.Price}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="product-detail">
          <h5 class="product-head">Product Details</h5>
          <table class="table" cellspacing="0" style="max-height: 28px">
            <tbody>
              <tr>
                <th scope="row">Product Name</th>
                <td>{{product.Name}}</td>
              </tr>
              <tr>
                <th scope="row">Product Description</th>
                <td>{{product.Description}}</td>
              </tr>
              <tr>
                <th scope="row">Product Category</th>
                <td>
                  <a href="">
                    <span class="badge purple mr-1">{{product.DepartmentName}}</span>
                  </a>
                  <a href="">
                    <span class="badge blue mr-1">{{product.CategoryName}}</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong class="d-flex">
                    Color
                  </strong>
                  <select class="browser-default custom-select" *ngIf="product" style="width: 100px"
                    [(ngModel)]="colorId">
                    <option [value]="item.AttributeValueId" *ngFor="let item of product.Color"> {{item.AttributeValue}}
                    </option>
                  </select>
                </td>
                <td>
                  <strong class="d-flex">
                    Size
                  </strong>
                  <select class="browser-default custom-select" *ngIf="product" style="width: 100px"
                    [(ngModel)]="sizeId">
                    <option [value]="item.AttributeValueId" *ngFor="let item of product.Size">{{item.AttributeValue}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <app-add-to-cart class="d-flex" [productId]="product.ProductId" [colorId]="colorId" [sizeId]="sizeId"
                    [isHomePage]="false"></app-add-to-cart>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</main>