
<ng-container *ngIf="isHomePage; else elseTemplate">
        <input type="number" value="1" aria-label="Search" class="form-control d-none" style="width: 100px" [(ngModel)]="quantity" >
        <button class="add-to-cart" (click)="onAddProductToCart()">ADD TO CART</button>
</ng-container>
<ng-template #elseTemplate>
        <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" [(ngModel)]="quantity" >
        <button class="btn btn-primary btn-md my-0 p" type="button" (click)="onAddProductToCart()">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </button>
</ng-template>

